{% extends "base.html" %}
{% block main_content %}
<main>
   <section class="about">
    <div class="container">
        <h2 class="title">We are a shared mobility startup offering a peer-to-peer car rental platform connecting car owners with pre-screened renters nearby.</h2>
        <div class="row">
            <div class="column">
                <div class="content">
                    <h2>Zeta Terms of Service</h2>
                    <p>Hire your favorite car and explore the world. Every ride will be like a mini holiday. Learn more about our Terms of Service.</p>
                    <a href="#" class="btn">Terms of Service</a>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <h2>List Your Car and Start Earning</h2>
                    <p>List your personal car, share with friends and neighbors, and earn. Go global!</p>
                    <a href="#" class="btn">Get Started</a>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <h2>Grow Your Car Rental Business</h2>
                    <p>List your car fleet and triple your bookings.</p>
                    <a href="#" class="btn">Get Started</a>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <h2>Get a Car from Us</h2>
                    <p>Rent a car from our reliable fleet for your travel needs.</p>
                    <a href="#" class="btn">Explore Cars</a>
                </div>
            </div>
        </div>
    </div>
</section>
</main>
{% endblock main_content %}