{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" crossorigin="anonymous" />
    <title>zeta carhires</title>
</head>

<body>
    <!-- Header Section -->
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid d-flex align-items-center justify-content-between">
            <a href="#" class="logo d-flex align-items-center me-auto me-lg-0">
                <img src="{% static 'images/Logo.jpg' %}" alt="">
                <h1>Zeta CarHires</h1>
            </a>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="{% url 'index' %}" class="{% if request.path == index %} active {% endif %}">Home</a></li>
                    <li><a href="{% url 'car' %}" class="{% if request.path == car %} active {% endif %}">Hire a car</a></li>
                    <li><a href="{% url 'tours' %}" class="{% if request.path == tours %} active {% endif %}">Tours & Travel</a></li>
                    <li><a href="{% url 'earn' %}" class="{% if request.path == earn %} active {% endif %}">Earn</a></li>
                    <li><a href="{% url 'grow' %}" class="{% if request.path == grow %} active {% endif %}">Grow</a></li>
                    <li><a href="{% url 'buy' %}" class="{% if request.path == buy %} active {% endif %}">Buy a car</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'update_profile' user.id %}" class="{% if request.path == update_profile %} active {% endif %}">Profile</a></li>
						<li><a href="{% url 'booked_cars_list' %}" class="{% if request.path == booked_cars_list %} active {% endif %}">Bookings</a></li>
                        <li><a href="{% url 'logout' %}" class="{% if request.path == logout %} active {% endif %}" style="color:red">Logout</a></li>
                    {% else %}
					    <li><a href="{% url 'about' %}" class="{% if request.path == about %} active {% endif %}">About Us</a></li>
                        <li><a href="{% url 'show_login' %}" class="{% if request.path == show_login %} active {% endif %}" style="color:blue">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        </div>
    </header>

    <!-- Main Content -->
    <main>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger">
                        <script>
                            alert("{{ message }}");
                        </script>
                    </div>
                {% elif message.tags == 'success' %}
                    <div class="alert alert-success">
                        <script>
                            alert("{{ message }}");
                        </script>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% block main_content %}{% endblock main_content %}
    </main>

    <!-- Footer Section -->
    <footer>
        <div class="footer-container">
            <div class="about-us">
                <h3>About Us</h3>
                <div class="line"></div>
                <p>Zeta CarHire offers a comprehensive range of services to meet your travel and automotive needs in Kenya. Whether you are looking for a rental vehicle for business travel or vacation, or seeking to purchase a high quality used car, we have you covered. Headquarters in Eldoret, our fleet and sales team can cater to your needs not only in Eldoret but across Kenya. Experience seamless car rental and sales services with us.</p>
            </div>
            <div class="quick-links">
                <h3>Quick Links</h3>
                <div class="line"></div>
                <ul>
                    <li><a href="{% url 'index' %}" class="{% if request.path == index %} active {% endif %}">Home</a></li>
                    <li><a href="{% url 'car' %}" class="{% if request.path == car %} active {% endif %}">Hire a car</a></li>
                    <li><a href="{% url 'tours' %}" class="{% if request.path == tours %} active {% endif %}">Tours & Travel</a></li>
                    <li><a href="{% url 'earn' %}" class="{% if request.path == earn %} active {% endif %}">Earn</a></li>
                    <li><a href="{% url 'grow' %}" class="{% if request.path == grow %} active {% endif %}">Grow</a></li>
                    <li><a href="{% url 'buy' %}" class="{% if request.path == buy %} active {% endif %}">Buy a car</a></li>
                    <li><a href="{% url 'about' %}" class="{% if request.path == about %} active {% endif %}">About Us</a></li>
                </ul>
            </div>
            <div class="get-in-touch">
                <h3>Get in Touch</h3>
                <div class="line"></div>
                <p><i class="fas fa-phone"></i> +254714710947</p>
                <p><i class="fa-solid fa-location-dot"></i> Zeta CarHires, Eldoret Kenya</p>
                <p><i class="fas fa-envelope"></i> info@zetacarhires.com</p>
                <div class="social-media">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-whatsapp"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="policies">
                <h3>Our Policies</h3>
                <div class="line"></div>
                <ul>
                    <li><a href="policy.html">Terms and conditions</a></li>
                    <li><a href="policy.html">FAQ's</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <div class="credit">Zeta <span>carhires</span> | all rights reserved</div>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
