{% extends "base.html" %}
{% block main_content %}
    <body class="policy" style="list-style-type: disc;">
          <section id="policies">
            <h2>Rental Policies</h2>
            <p>Our rental policies ensure a smooth and hassle-free experience for our customers:</p>
            <ul>
              <li>Minimum age for renting a car is 21 years.</li>
              <li>A valid driver's license is required.</li>
              <li>Insurance options are available for added peace of mind.</li>
              <li>Additional charges may apply for extra services like GPS, child seats, etc.</li>
            </ul>
          </section>
          <section id="listing">
            <h2>Fleet Listing Policies</h2>
            <p>For investors/entrepreneurs looking to list their fleet with us:</p>
            <ul>
              <li>Only well-maintained vehicles meeting our standards are accepted.</li>
              <li>Listing fees may apply, with options for featured listings.</li>
              <li>We handle customer inquiries and bookings on your behalf.</li>
              <li>Regular inspections ensure the quality of listed vehicles.</li>
            </ul>
          </section>
          <section id="buying">
            <h2>Car Buying Policies</h2>
            <p>Looking to purchase a car through Zeta CarHires:</p>
            <ul>
              <li>We offer a diverse selection of well-maintained used cars for sale.</li>
              <li>Transparent pricing with no hidden fees.</li>
              <li>Flexible financing options available.</li>
              <li>Each car undergoes thorough inspection and comes with a warranty option.</li>
            </ul>
          </section>
{% endblock main_content %}